<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">

      <h3 class="mb-4 text-center">{{ 'LOGIN_TITLE' | translate }}</h3>

      <!-- ngForm -->
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <!-- Login Email -->
        <div class="mb-3">
          <label>{{ 'LOGIN_EMAIL' | translate }}</label>

          <input
            id="email"
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="model.email"
            required
          />

          <!-- Error -->
          <div class="text-danger small" *ngIf="loginForm.submitted && !model.email">
            {{ 'LOGIN_EMAIL_REQUIRED' | translate }}
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label>{{ 'LOGIN_PASSWORD' | translate }}</label>

          <input
            id="password"
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="model.password"
            required
          />

          <div class="text-danger small" *ngIf="loginForm.submitted && !model.password">
            {{ 'LOGIN_PASSWORD_REQUIRED' | translate }}
          </div>
        </div>

        <!-- Submit Button -->
        <button 
          type="submit" 
          class="btn btn-primary w-100"
          [disabled]="loginForm.invalid">
          {{ 'LOGIN_BTN' | translate }}
        </button>

      </form>

      <!-- Link to Register -->
      <div class="text-center mt-3">
        {{ 'LOGIN_PROMPT' | translate }}
        <a routerLink="/register">
          {{ 'REGISTER_LINK' | translate }}
        </a>
      </div>

    </div>
  </div>
</div>
