// src/app/pages/login/login.component.html

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">

      <h3 class="mb-4 text-center">{{ 'LOGIN_TITLE' | translate }}</h3>

      <!-- ngForm -->
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <!-- Login Email -->
        <div class="mb-3">
          <label>{{ 'LOGIN_EMAIL' | translate }}</label>

          <input
            id="email"
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="model.email"
            required
          />

          <!-- Error -->
          <div class="text-danger small" *ngIf="loginForm.submitted && !model.email">
            {{ 'LOGIN_EMAIL_REQUIRED' | translate }}
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label>{{ 'LOGIN_PASSWORD' | translate }}</label>

          <div class="position-relative">
            <input
              id="password"
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              name="password"
              [(ngModel)]="model.password"
              required
            />

            <!-- Password toggle button -->
            <fa-icon
              [icon]="showPassword ? 'eye-slash' : 'eye'"
              class="position-absolute end-0 top-50 translate-middle-y pe-3"
              style="cursor:pointer;"
              (click)="togglePasswordVisibility()"
            ></fa-icon>

          </div>

          <div class="text-danger small" *ngIf="loginForm.submitted && !model.password">
            {{ 'LOGIN_PASSWORD_REQUIRED' | translate }}
          </div>
        </div>

        <!-- Error จากฝั่ง TS (login fail) -->
        <div *ngIf="error" class="text-danger small mb-2">
          {{ error }}
        </div>

        <!-- Submit Button -->
        <button 
          type="submit" 
          class="btn btn-primary w-100"
          [disabled]="loginForm.invalid || loading">
          <span *ngIf="!loading">{{ 'LOGIN_BTN' | translate }}</span>
          <span *ngIf="loading">Loading...</span>
        </button>

      </form>

      <!-- Link to Register -->
      <div class="text-center mt-3">
        {{ 'LOGIN_PROMPT' | translate }}
        <a routerLink="/register">
          {{ 'REGISTER_LINK' | translate }}
        </a>
      </div>

    </div>
  </div>
</div>
